@import "tailwindcss";

@theme inline {
  --color-brand-bg: #F9FCF7;
  --color-brand-primary: #1F8803;
  --color-brand-secondary: #E3F2D4;
  --color-brand-dark: #123019;
  --color-brand-gray: #4A5D4E;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-dark);
}
